
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My_Layout</title>
</head>
<body>
    <div> 
        头部
    </div>
    <hr />

    @RenderBody()
    <hr/>
    <p>
        尾部
    </p>
</body>
</html>
