@*引用命名空间*@
@using WebApplication1.Models;
@{
    Layout = null;
    //强制类型转换
    Employee emp = (Employee)ViewData["EmpKey"];

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <h1>@emp.Name,@((string)ViewData["greeting"])!</h1>
    <div> 
        <h2>员工信息</h2>
        @*获取数据值*@
        <p>姓名：@emp.Name</p>
        <p>工资：@emp.Salary.ToString("C")</p>
    </div>
</body>
</html>
