@*引用命名空间*@
@using WebApplication1.Models;
@* 创建View的强类型 *@
@model Customer
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomerView</title>
</head>
<body>
    <h1>@Model.CustomerName,@ViewBag.greeting </h1>
    <div> 
        <h2>客户信息</h2>
        @*获取数据值*@
        <p>姓名：@Model.CustomerName</p>
        <p>地址：@Model.Address</p>
    </div>
</body>
</html>
